@keyframes twinkling-move-background {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(1000px, 0, 0);
  }
}

.background-stars-container {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: -1;
}

.background-stars-layer {
  position: absolute;
  inset: 0;
}

.background-stars-base {
  background-color: #000;
}

.background-stars-stars {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png");
  background-repeat: repeat;
  background-size: auto;
}

.background-stars-twinkling {
  width: 10000px;
  height: 100%;
  right: 0;
  top: 0;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png");
  background-repeat: repeat;
  background-size: 1000px 1000px;
  animation: twinkling-move-background 70s linear infinite;
}

.background-stars-clouds {
  width: 10000px;
  height: 100%;
  right: 0;
  top: 0;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png");
  background-repeat: repeat;
  background-size: 1000px 1000px;
  animation: twinkling-move-background 150s linear infinite;
  opacity: 0.75;
}

@media (prefers-reduced-motion: reduce) {
  .background-stars-twinkling,
  .background-stars-clouds {
    animation: none;
  }
}
