.glass-button {
  position: relative;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  pointer-events: auto;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.button-outer {
  position: relative;
  z-index: 1;
  border-radius: 999vw;
  transition: box-shadow 300ms ease;
  will-change: box-shadow;
}

.button-inner {
  position: relative;
  z-index: 1;
  border-radius: inherit;
  padding: 1em 1.5em;
  transition: box-shadow 300ms ease, clip-path 250ms ease,
    background-image 250ms ease, transform 250ms ease;
  will-change: box-shadow, clip-path, background-image, transform;
  overflow: clip;
}

.button-inner span {
  position: relative;
  z-index: 4;
  font-family: "Inter", sans-serif;
  letter-spacing: -0.05em;
  font-weight: 500;
  color: black;
  transition: transform 250ms ease;
  display: block;
  will-change: transform;
  text-shadow: rgba(0, 0, 0, 0.1) 0 0 0.1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
