.orange-push-button {
    all: unset;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    position: relative;
    border-radius: 999vw;
    background-color: #141413;
    box-shadow: 0 16px 40px rgba(0, 0, 0, 0.25);
}

.orange-push-button::after {
    content: "";
    position: absolute;
    z-index: 0;
    width: calc(100% + 0.3em);
    height: calc(100% + 0.3em);
    top: -0.15em;
    left: -0.15em;
    border-radius: inherit;
    background: rgba(0, 0, 0, 0.04);
    opacity: 1;
}

.orange-push-button .button-outer {
    position: relative;
    z-index: 1;
    border-radius: inherit;
    transition: box-shadow 220ms ease-out, transform 220ms ease-out;
    will-change: box-shadow, transform;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.orange-push-button:hover .button-outer {
    transform: translateY(1px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
}

.button-inner {
    --inset: 0.035em;
    position: relative;
    z-index: 1;
    border-radius: inherit;
    padding: 1em 1.5em;
    background-color: #d97757;
    transition: box-shadow 220ms ease-out, transform 220ms ease-out;
    will-change: box-shadow, transform;
    overflow: clip;
    clip-path: inset(0 0 0 0 round 999vw);
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.15);
}

.orange-push-button:hover .button-inner {
    transform: translateY(0.5px);
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
}

.orange-push-button .button-inner span {
    position: relative;
    z-index: 4;
    font-family: "Inter", sans-serif;
    letter-spacing: -0.03em;
    font-weight: 500;
    color: white;
    transition: transform 220ms ease-out;
    display: block;
    will-change: transform;
    text-shadow: rgba(0, 0, 0, 0.15) 0 0 0.12em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.orange-push-button:hover .button-inner span {
    transform: translateY(0.5px);
}

.orange-push-button:active .button-inner {
    transform: translateY(1px);
}
