
.inner {
    text-align: center;
}

.inner h2 {
    font-family: var(--font-poppins);
    font-size: 1.25rem;
    font-weight: 600;
    color: inherit;
    margin-bottom: 0.5rem;
}

.inner header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1.5rem;
}

.inner svg {
    height: 24px;
}

.inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    container-type: inline-size;
    position: relative;
    overflow: auto;
    z-index: 1;
}

.content {
    padding: 0 1.5rem 1.5rem;
    font-family: var(--font-lora);
    font-size: 0.875rem;
    line-height: 1.6;
    color: color-mix(in hsl, var(--fg), transparent 40%);
}
